

<div class="container-fluid">
    <!-- COLOR PALETTE -->
    <div class="card card-default color-palette-box col-lg-4 col-12 float-right">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fa fa-tag"></i>
                درخواست
            </h3>
        </div>
        <div class="card-body">
            <div class="row col-lg-12">
                <div class="col-lg-6 col-6"> نام متقاضی:</div>
                <div class="col-lg-6 col-6">علی زینلی </div>
            </div>
            <div class="row col-lg-12">
                <div class="col-lg-6 col-6">نوع انشعاب: </div>
                <div class="col-lg-6 col-6">دائم </div>
            </div>
            <div class="row col-lg-12">
                <div class="col-lg-6 col-6">موقعیت محل: </div>
                <div class="col-lg-6 col-6">ناحیه روستایی </div>
            </div>
            <div class="row col-lg-12">
                <div class="col-lg-7 col-7">چگونگی برقرسانی: </div>
                <div class="col-lg-5 col-5">شبکه موجود </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->


<div class="card col-lg-8 col-12 float-right">
   <div class="card-header bg-info">
        <h3 class="card-title">ردیف درخواست ها</h3>
    </div>
     <!-- /.card-header -->
    <div class="card-body p-0 scroll" style="height:137px;">
        <table class="table table-striped">
            <tr>
                <th>تعداد</th>
                <th>نوع تقاضا</th>
                <th>نوع کاربری</th>
                <th>آمپر</th>
                <th>فاز</th>
                <th>قدرت</th>
                <th>ولتاژ تحویلی</th>
            </tr>
            <tr>                
               <td>1</td>
               <td>انشعاب جدید</td>
               <td>خانگی</td>
               <td>25</td>
               <td>3</td>
               <td>15</td>
               <td>ثانویه</td>
            </tr> <tr>                
               <td>2</td>
               <td>انشعاب جدید</td>
               <td>خانگی</td>
               <td>25</td>
               <td>3</td>
               <td>15</td>
               <td>ثانویه</td>
            </tr> <tr>                
               <td>3</td>
               <td>انشعاب جدید</td>
               <td>خانگی</td>
               <td>25</td>
               <td>3</td>
               <td>15</td>
               <td>ثانویه</td>
          
            </tr>
            
        </table>
    </div>
    <!-- /.card-body -->    
</div></div>

@code {

}
