@inherits LayoutComponentBase
@inject NavigationManager NavigationManager



<div class=bg-gray-light> 
    <div class="">
         <!-- Navbar -->
        <NavMenu />
      
        <!-- /.navbar -->       
    </div>
    <div class=" col-md-10 margin-right">

       
    </div>
    <!-- /.content-wrapper -->



    <article class="col-md-10 margin-right">
        @Body
    </article>


    <br />
    <footer class="main-footer footer text-center">
        <h6><a href="">شرکت فنی مهندسی عصراندیشه 1401</a></h6>
    </footer>


</div>

@code {
 [Parameter]
    public string regn_code { get; set; }

  //  public string regn_code { get; set; }
     protected override async Task OnInitializedAsync()
    {

      //  var getcount = await Http.PostAsJsonAsync("api/Branching/Count_All_Contract_Async/", regn_code);
                           

    }

    private void Go_To_Branching()
    {
        NavigationManager.NavigateTo("Branching");

    }
    private void Go_To_Energy()
    {
       /// NavigationManager.NavigateTo("Energy");

    }
    private void Go_To_Inspector()
    {
       /// NavigationManager.NavigateTo("Inspector");

    }


}