@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class=bg-gray-light> 
    <div class="">
        <NavMenu />
    </div>
    <div class=" col-md-10 margin-right">

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-lg-4 col-4" @onclick="Go_To_Branching" style="cursor:pointer">
                        <!-- small box -->
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>1</h3>

                                <p>انشعاب</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            @*<a href="#" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>*@
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-4 col-4"  @onclick="Go_To_Energy" style="cursor:pointer">
                        <!-- small box -->
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>0<sup style="font-size: 20px"></sup></h3>

                                <p>انرژی</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                            @*<a href="#" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>*@
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-4 col-4" @onclick="Go_To_Inspector" style="cursor:pointer">
                        <!-- small box -->
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3>0</h3>

                                <p>بازرسی</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>
                            @*<a href="#" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>*@
                        </div>
                    </div>

                </div>
                <!-- /.row -->
                <!-- Main row -->
                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->



    <article class="col-md-10 margin-right">
        @Body
    </article>


    <br />
    <footer class="main-footer footer">
        <strong><a href="">شرکت عصراندیشه 1400</a></strong>
    </footer>


</div>

@code {
    private void Go_To_Branching()
    {
        NavigationManager.NavigateTo("Branching");

    }
    private void Go_To_Energy()
    {
       /// NavigationManager.NavigateTo("Energy");

    }
    private void Go_To_Inspector()
    {
       /// NavigationManager.NavigateTo("Inspector");

    }


}