@page "/TopMenu/{username}"

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            @*/@onclick="Go_To_Branching"/*@
            <div class="col-lg-4 col-4" onclick="myFunction()" style="cursor:pointer">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h4>انشعاب</h4>

                        <span class="info-box-number">
                                <p>تعداد کل : @Sum</p>
                            </span>
                    </div>
                    <div class="icon">
                        @*<i class="fa fa-code-branch"></i>*@
                        <i class="fa-solid fa-envelope fa-beat" style="--fa-beat-scale: 1.2;"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-4" @onclick="Go_To_Energy" style="cursor:pointer">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        @*<h3>0<sup style="font-size: 20px"></sup></h3>*@

                        <h4>انرژی</h4>
                        <span class="info-box-number">
                                <p>تعداد کل : 0</p>
                            </span>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-4 col-4" @onclick="Go_To_Inspector" style="cursor:pointer">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        @*<h3>0</h3>*@

                        <h4>بازرسی</h4>
                        <span class="info-box-number">
                                <p>تعداد کل : 0</p>
                            </span>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                </div>
            </div>


            @*<--sub_branching -->*@
            <div id="sub_branching" class="col-12 col-md-12" style="display:none">
                <div class="col-sm-6 col-md-3 float-right">
                    <div class="info-box">
                        <span class="info-box-icon bg-primary elevation-1"><i class="fa-solid fa-paper-plane"></i></span>
                        <div class="info-box-content" @onclick="Go_To_Branching"  style="cursor:pointer">
                            <span class="info-box-text">تصویب قرارداد</span>
                            <span class="info-box-number">
                                <p>تعداد : @ContractCount</p>
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-sm-6 col-md-3 float-right">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-danger elevation-1"><i class="fa-solid fa-code-branch"></i></span>
                        <div class="info-box-content" @onclick="Go_To_Installment"  style="cursor:pointer">
                            <span class="info-box-content">تایید تقسیط</span>
                            <span class="info-box-number">
                                <p>تعداد : @InstallmentCount</p>
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <!-- fix for small devices only -->
                @*<div class="clearfix hidden-md-up"></div>

               @* <div class="col-sm-6 col-md-3 float-right">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-success elevation-1"><i class="fa fa-shopping-cart"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">فروش</span>
                            <span class="info-box-number">760</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-sm-6 col-md-3 float-right">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-warning elevation-1"><i class="fa fa-users"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">اعضای جدید</span>
                            <span class="info-box-number">2,000</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->*@
            </div>

        </div>
        <!-- /.row -->
        <!-- Main row -->
        <!-- /.row (main row) -->
        <!-- Info boxes -->
        <!-- /.row -->
    </div>
</section>
<!-- /.content -->
@code {
    [Parameter]
    public string username { get; set; }
    [Parameter]
    public int ContractCount { get; set; }
    [Parameter]
    public int PriceAnnounceCount { get; set; }
    [Parameter]
    public int InstallmentCount { get; set; }
    [Parameter]
    public int Sum { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var getContractcount = await Http.PostAsJsonAsync<string>("api/Branching/Count_All_Contract_Async/", username);
        ContractCount = int.Parse(await getContractcount.Content.ReadAsStringAsync());
        /////
        //var PriceAnnounceCount = await Http.PostAsJsonAsync<string>("api/Branching/Count_All_PriceAnnounce_Async/", username);
        //PriceAnnounceCount = int.Parse(await getPriceAnnouncecount.Content.ReadAsStringAsync());
        /////
        var getInstallmentcount = await Http.PostAsJsonAsync<string>("api/Branching/Count_All_Installment_Async/", username);
        InstallmentCount = int.Parse(await getInstallmentcount.Content.ReadAsStringAsync());

        Sum = ContractCount + InstallmentCount;
    }

    private void Go_To_Branching()
    {
        NavigationManager.NavigateTo($"/Branching/{username}/");
    }
    private void Go_To_PriceAnnounce()
    {
        NavigationManager.NavigateTo($"/PriceAnnounce/{username}/");
    }
    private void Go_To_Installment()
    {
        NavigationManager.NavigateTo($"/Installment/{username}/");
    }

    private void Go_To_Energy()
    {
        /// NavigationManager.NavigateTo("Energy");

    }
    private void Go_To_Inspector()
    {
        /// NavigationManager.NavigateTo("Inspector");

    }



}