@font-face {
    font-family: 'IranSans';
    src: url('fonts/IranSans.ttf') format('truetype');
}
div{
    font-family:IranSans;
}
@media (min-width:992px) {
    .margin-right {
        margin-right: 250px;
    }

    table, .card-body {
        font-size: 13px !important;
    }
    table, th, td {
        border: 1px solid;
        text-align: center;
        padding: 0.75rem;
    }
    .main-footer {
        margin-right: 0px!important;
    }
}
@media (max-width:992px) {
    table, .card-body {
        font-size: 8px !important;
    }
    table, th, td {
        border: 1px solid;
    }
    table, th, td {
        border: 1px solid;
        text-align: center;
        padding: 0.75rem;
    }
    .card-header, .card-title {
        font-size: 12px !important;
    }
    .td-width {
        width: 100px!important;
    }
    .main-footer {
        margin-right: 0px !important;
    }
}

    .scroll {
        overflow-x: auto;
        overflow-y: auto;
    }
    

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right:0;
    width: 100%;
    padding:0!important;
    margin-top:2px;
}

textarea {
    overflow-y: scroll !important;
    height: 100px !important;
    resize: none !important; /* Remove this if you want the user to resize the textarea */
    font-size: 10px !important;
}