@font-face {
    font-family: 'IranSans'!important;
    src: url('fonts/IranSans.ttf') format('truetype');
}
div body{
    font-family:IranSans!important;
}
@media (min-width:992px) {
    .margin-right {
        margin-right: 250px;
    }

    table, .card-body {
        font-size: 13px !important;
    }
    table, th, td {
        border: 1px solid;
        text-align: center;
        padding: 0.1!important;
        vertical-align: unset!important;
    }
    .main-footer {
        margin-right: 0px!important;
    }
}

@media (max-width:992px) {
    table, .card-body {
        font-size: 8px !important;
    }
    table, th, td {
        border: 1px solid;
    }
    table, th, td {
        border: 1px solid;
        text-align: center;
        padding: 0.1rem !important;
        vertical-align: unset !important;
    }
    .card-header, .card-title {
        font-size: 12px !important;
    }
    .td-width {
        width: 100px!important;
    }
    .main-footer {
        margin-right: 0px !important;
    }
    .mt-10 {
        margin-top: 10px!important;
    }
}

    .scroll {
        overflow-x: auto;
        overflow-y: auto;
    }
    

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right:0;
    width: 100%;
    padding:0!important;
    margin-top:2px;
}

textarea {
    overflow-y: scroll !important;
    height: 100px !important;
    resize: none !important; /* Remove this if you want the user to resize the textarea */
    font-size: 10px !important;
}

.spinner {
    border: 16px solid silver;
    border-top: 16px solid #337AB7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top: 40%;
    left: 40%;
    position: fixed;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}