@page "/Branching_Item"
@inject IJSRuntime JsRuntime

<div class="container-fluid bg-light">
    <!-- COLOR PALETTE -->
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fa fa-tag"></i>
                فرم قرارداد
            </h3>
        </div>
        <div class="card-body">

            <Branching_Common></Branching_Common>

        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>


<div class="container-fluid bg-light">
    <!-- COLOR PALETTE -->
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fa fa-tag"></i>
                قرارداد
            </h3>
        </div>
        <div class="card-body">
            <div class=" col-lg-6 float-right">
                <div class="row col-lg-12 ">
                    <div class="col-lg-4 col-7"> تاریخ قرارداد:</div>
                    <div class="col-lg-4 col-5">1400/10/25 </div>
                </div>
                <div class="row col-lg-12">
                    <div class="col-lg-4 col-7">تاریخ صورت جلسه: </div>
                    <div class="col-lg-4 col-5">1400/10/25 </div>
                </div>
                <div class="row col-lg-12">
                    <div class="col-lg-6 col-10">مهلت تعهدات متقاضی(روز): </div>
                    <div class="col-lg-3 col-2">35 </div>
                </div>
                <div class="row col-lg-12">
                    <div class="col-lg-6 col-10">مهلت تعهدات شرکت(روز): </div>
                    <div class="col-lg-3 col-2">700 </div>
                </div>
            </div>
            <div class="row col-lg-6 float-right">
                <div class="row col-lg-12">
                    <div class="col-lg-4 col-4"> تعهدات متقاضی: </div>
                    <div class="col-lg-8 col-8"><textarea class="form-control"></textarea> </div>
                </div>

                <div class="row col-lg-12">
                    <div class="col-lg-4 col-4"> تعهدات شرکت: </div>
                    <div class="col-lg-8 col-8"><textarea class="form-control"></textarea>  </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
    <div class="row col-lg-12 ">
        <div class="col-lg-2 col-3">
            <button class="btn btn-block btn-primary bg-success-gradient text-center" @onclick="DeleteSymbol" style="width:65px">تایید</button>
        </div>
        <div class="col-lg-2 col-3">

            <button class="btn btn-block btn-primary bg-warning-gradient text-center" style="width:65px">بازگشت</button>
        </div>
    </div>
</div>

@code {

    async Task DeleteSymbol()
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure?");
        if (confirmed)
        {
            // Delete!
        }
    }

}
