@page "/Branching"




<div class="card">
    <div class="card-header bg-info">
        <h3 class="card-title">نمایش کلیه درخواست ها</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0 scroll">
        <table class="table table-striped">
            <tr>
                <th style="width: 10px">#</th>
                <th>شماره درخواست</th>
                @*<th>زیرسیستم</th>*@
                <th>تاریخ بروز رسانی</th>
                <th>مرحله</th>
                <th></th>
            </tr>
            <tr>
                <td>1.</td>
                <td>7366718</td>
                @*  <td>
                    انشعاب
                    <div class="progress progress-xs">
                    <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                    </div>
                    </td>*@
                <td>1400/1/03</td>
                <td>تصویب قرارداد</td>
                <td> <button class="btn btn-block btn-primary bg-primary-gradient" @onclick="Click" style="width:65px">نمایش</button> </td>
            </tr>

        </table>
        @* <ul>
            @foreach(var item in BranchList)
            {
            <li>@item.</li>
            }
            </ul>*@


    </div>
    <!-- /.card-body -->
</div>

@code {

    private Branching[] BranchList;

    protected override async Task OnInitializedAsync()
    {
        BranchList = await Http.GetFromJsonAsync<Branching[]>("api/Branching");

    }

    private void Click()
    {
        NavigationManager.NavigateTo("Branching_Item");

    }
}
