@page "/Branching"
@inject NavigationManager NavigationManager


<div class="card">
   <div class="card-header bg-info">
        <h3 class="card-title">نمایش کلیه درخواست ها</h3>
    </div>
     <!-- /.card-header -->
    <div class="card-body p-0 scroll">
        <table class="table table-striped">
            <tr>
                <th style="width: 10px">#</th>
                <th>شماره درخواست</th>
                @*<th>زیرسیستم</th>*@
                <th>تاریخ درخواست</th>
                <th>مرحله</th>
                <th></th>
            </tr>
            <tr>
                <td>1.</td>
                <td>7366718</td>
              @*  <td>
                    انشعاب
                    <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                    </div>
                </td>*@
                <td>1398/05/26</td>
                <td>قرارداد</td>
                <td> <button class="btn btn-block btn-primary bg-primary-gradient" @onclick="Click" style="width:65px">نمایش</button> </td>
            </tr>
            
        </table>
    </div>
    <!-- /.card-body -->    
</div>

@code {
    private void Click()
    {
        NavigationManager.NavigateTo("Branching_Item");
        
    }
}
