@page "/Branching"
@using ManagersApplication.Shared
@inject HttpClient Http



<div class="card">
    <div class="card-header bg-info">
        <h3 class="card-title">نمایش درخواست های انشعاب</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0 scroll">
        <table class="table table-striped">
            <tr>
                <th style="width: 10px">#</th>
                <th>شماره درخواست</th>
                @*<th>زیرسیستم</th>*@
                <th>تاریخ بروز رسانی</th>
                <th>مرحله</th>
                <th></th>
            </tr>
            @foreach (var item in BranchList)
            {   
                 
                @*<tr>
                    <td>@item.ID</td>
                    <td>@item.RQID</td>                    
                    <td>@item.UPDT_DATE</td>
                    <td>@item.ACTV_DESC</td>
                    <td> <button class="btn btn-block btn-primary bg-primary-gradient" @onclick="Click" style="width:65px">نمایش</button> </td>
                </tr>*@
            }
        </table>
       


    </div>
    <!-- /.card-body -->
</div>

@code {
    public Branching[] BranchList;
    [Parameter]
    public int ID { get; set; }
    [Parameter]
    public Int64 RQID { get; set; }
    [Parameter]
    public DateTime UPDT_DATE { get; set; }
    [Parameter]
    public string ACTV_DESC { get; set; }

    protected override async Task OnInitializedAsync()
    {

        BranchList = await Http.GetFromJsonAsync<Branching[]>("api/Branching");

    }

    private void Click()
    {
        NavigationManager.NavigateTo("Branching_Item");

    }
}
