@page "/Branching_Item/{RQID}"
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager

<div class="container-fluid bg-light">
    <!-- COLOR PALETTE -->
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fa fa-tag"></i>
                فرم قرارداد
            </h3>
        </div>
        <div class="card-body">

            <Branching_Common></Branching_Common>

        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>

@RQID
<div class="container-fluid bg-light">
    <!-- COLOR PALETTE -->
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fa fa-tag"></i>
                قرارداد
            </h3>
        </div>
        <div class="card-body">
            <div class=" col-lg-6 float-right">
                <div class="row col-lg-12 ">
                    <div class="col-lg-4 col-7"> تاریخ قرارداد:</div>
                    <div class="col-lg-4 col-5">1400/09/25 </div>
                </div>
                <div class="row col-lg-12">
                    <div class="col-lg-4 col-7">تاریخ صورت جلسه: </div>
                    <div class="col-lg-4 col-5">1400/09/25 </div>
                </div>
                <div class="row col-lg-12">
                    <div class="col-lg-6 col-10">مهلت تعهدات متقاضی(روز): </div>
                    <div class="col-lg-3 col-2">35 </div>
                </div>
                <div class="row col-lg-12">
                    <div class="col-lg-6 col-10">مهلت تعهدات شرکت(روز): </div>
                    <div class="col-lg-3 col-2">700 </div>
                </div>
            </div>
            <div class="row col-lg-6 float-right">
                <div class="row col-lg-12">
                    <div class="col-lg-4 col-4"> تعهدات متقاضی: </div>
                    <div class="col-lg-8 col-8"><textarea class="form-control" >
                        تعهد یعنی وظیفه یا ضمانتی در مقابل کسی یا برای چیزی و خود را ملزم به انجام کاری دانستن.

تعهدِ شخصی یعنی کارهایی که به خاطر وظایف و التزام‌هایی انجام می‌شوند. این وظایف و التزام‌ها ممکن است توسط خود شخص تعیین شده باشند، وظایفی دو طرفه و دوجانبه باشند یا به روشنی مکتوب شده باشند.

تعهد به یک مجموعه برای انجام کاری با تعهد شخصی که معمولاً قول یا ضمانتی برای رشد شخصی است متفاوت می‌باشد. تعهد، اصطلاحی در فقه و حقوق اسلامی که ناظر به رابطه‌ای حقوقی است و براساس آن شخص ملتزم به انتقال و تسلیم مال یا انجام دادن یا ندادن کاری می‌شود؛ در این حال اسباب ایجاد چنین رابطه‌ای می‌تواند عقد، ایقاع یا الزامی قهری باشد.

تعهد بر وزن تفعّل، از ریشهٔ «عهد» است؛ و در لغت به معنای برعهده گرفتن و عهد و پیمان بستن آمده‌است. دو واژهٔ عهد و تعهد اگرچه در فقه اسلامی به کار رفته‌اند، اما محور سخن با توجه به معنای مصدری آن یعنی عقد مورد استفاده بوده‌است (قنواتی، ۱/۶۸).

واژهٔ تعهد به اقتضای موضوع، معادل «شرط»، «التزام»، «عهد»، «عهده» و «ضمان» استعمال شده، و غالباً در موضوعات عقد ضمان، حواله و کفالت به کار رفته‌است (جعفری، ۱/۲۷ بب‍؛ ابن منظور، ذیل عهد).

یکی از ملزومات موفقیت تعهد است. تعهد و احساس مسئولیت به ما نیرویی می‌دهد که هر مسئله یا مشکلی که پیش می‌آید از اهدافمان دست نکشیم .

                    </textarea> </div>
                </div>

                <div class="row col-lg-12">
                    <div class="col-lg-4 col-4"> تعهدات شرکت: </div>
                    <div class="col-lg-8 col-8"><textarea class="form-control">

                        تعهد یعنی وظیفه یا ضمانتی در مقابل کسی یا برای چیزی و خود را ملزم به انجام کاری دانستن.

تعهدِ شخصی یعنی کارهایی که به خاطر وظایف و التزام‌هایی انجام می‌شوند. این وظایف و التزام‌ها ممکن است توسط خود شخص تعیین شده باشند، وظایفی دو طرفه و دوجانبه باشند یا به روشنی مکتوب شده باشند.

تعهد به یک مجموعه برای انجام کاری با تعهد شخصی که معمولاً قول یا ضمانتی برای رشد شخصی است متفاوت می‌باشد. تعهد، اصطلاحی در فقه و حقوق اسلامی که ناظر به رابطه‌ای حقوقی است و براساس آن شخص ملتزم به انتقال و تسلیم مال یا انجام دادن یا ندادن کاری می‌شود؛ در این حال اسباب ایجاد چنین رابطه‌ای می‌تواند عقد، ایقاع یا الزامی قهری باشد.

تعهد بر وزن تفعّل، از ریشهٔ «عهد» است؛ و در لغت به معنای برعهده گرفتن و عهد و پیمان بستن آمده‌است. دو واژهٔ عهد و تعهد اگرچه در فقه اسلامی به کار رفته‌اند، اما محور سخن با توجه به معنای مصدری آن یعنی عقد مورد استفاده بوده‌است (قنواتی، ۱/۶۸).

واژهٔ تعهد به اقتضای موضوع، معادل «شرط»، «التزام»، «عهد»، «عهده» و «ضمان» استعمال شده، و غالباً در موضوعات عقد ضمان، حواله و کفالت به کار رفته‌است (جعفری، ۱/۲۷ بب‍؛ ابن منظور، ذیل عهد).

یکی از ملزومات موفقیت تعهد است. تعهد و احساس مسئولیت به ما نیرویی می‌دهد که هر مسئله یا مشکلی که پیش می‌آید از اهدافمان دست نکشیم .
                    </textarea>  </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
    <div class="row col-lg-12 ">
         <div class="row col-lg-4">
                    <div class="col-lg-4 col-4"> دلیل عدم تایید: </div>
                    <div class="col-lg-8 col-8"><textarea class="form-control"></textarea> </div>
                </div>
        </div>
    <div class="row col-lg-12 mt-2 mb-2">
        <div class="col-lg-1 col-4">
            <button class="btn btn-block btn-primary bg-success-gradient text-center"  style="width:85px">تایید</button>
        </div>
        <div class="col-lg-1 col-4">
            <button class="btn btn-block btn-primary bg-danger-gradient text-center"  style="width:85px">عدم تایید</button>
        </div>
        <div class="col-lg-1 col-4">

            <button class="btn btn-block btn-primary bg-warning-gradient text-center" @onclick="Back" style="width:85px">بازگشت</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Int64 RQID { get; set; }

    //async Task DeleteSymbol()
    //{
    //    bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "آیا از تایید این درخواست مطمئن هستید؟");
    //    if (confirmed)
    //    {
    //        // Delete!
    //    }
    //}

    protected override async Task OnInitializedAsync()
    {
        var a=RQID;
    }
    private void Back()
    {
        NavigationManager.NavigateTo("Branching");

    }

}
