@page "/Energy"


<div class="card">
   <div class="card-header bg-success">
        <h3 class="card-title">نمایش کلیه درخواست ها</h3>
    </div>
     <!-- /.card-header -->
    <div class="card-body p-0">
        <table class="table table-striped">
            <tr>
                <th style="width: 10px">#</th>
                <th>فعالیت</th>
                <th>پیشرفت</th>
                <th style="width: 40px">درصد</th>
            </tr>
            <tr>
                <td>1.</td>
                <td>آپدیت نرم افزار</td>
                <td>
                    <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                    </div>
                </td>
                <td><span class="badge bg-danger">55%</span></td>
            </tr>
            <tr>
                <td>2.</td>
                <td>بهینه سازی دیتابیس</td>
                <td>
                    <div class="progress progress-xs">
                        <div class="progress-bar bg-warning" style="width: 70%"></div>
                    </div>
                </td>
                <td><span class="badge bg-warning">70%</span></td>
            </tr>
            <tr>
                <td>3.</td>
                <td>اجرای کرون جابز‌</td>
                <td>
                    <div class="progress progress-xs progress-striped active">
                        <div class="progress-bar bg-primary" style="width: 30%"></div>
                    </div>
                </td>
                <td><span class="badge bg-primary">30%</span></td>
            </tr>
            <tr>
                <td>4.</td>
                <td>	رفع باگ های نرم افزاری</td>
                <td>
                    <div class="progress progress-xs progress-striped active">
                        <div class="progress-bar bg-success" style="width: 90%"></div>
                    </div>
                </td>
                <td><span class="badge bg-success">90%</span></td>
            </tr>
        </table>
    </div>
    <!-- /.card-body -->
</div>

@code {

}
