@page "/"



<div class="direct-chat-msg right">
    <div class="direct-chat-info clearfix">
        <span class="direct-chat-name float-right">سارا</span>
        <span class="direct-chat-timestamp float-left">23 Jan 2:05 pm</span>
    </div>
    <!-- /.direct-chat-info -->
    <img class="direct-chat-img" src="css/dist/img/user3-128x128.jpg" alt="message user image">
    <!-- /.direct-chat-img -->
    <div class="direct-chat-text">
        بهتره اینو باور کنی :)
    </div>
    <!-- /.direct-chat-text -->
</div>
<!-- /.direct-chat-