@page "/"
@inject NavigationManager NavManager
@layout _LoginLayout

<div class="login-container">
    <section class="login" id="login">
        <header>
            <h2>اپلیکیشن مدیران</h2>
            <h4>شرکت توزیع برق شیراز</h4>
        </header>
        <div>
            <input @bind="username" type="text" class="login-input" placeholder="نام کاربری" />
            <input @bind="password" type="password" class="login-input" placeholder="کلمه عبور" />
            <label class="text-danger">@error</label>
            <div class="submit-container">
                <button type="submit" class="btn btn-block btn-primary" @onclick="()=>Sign_In(username,password)">ورود</button>
            </div>
        </div>
        <h6 class="text-center mt-3">شرکت فنی مهندسی عصراندیشه</h6>
    </section>

</div>


@code {
    [Parameter]
    public string username { get; set; }
    private string password { get; set; }

    public string regn_code { get; set; }
    public string error { get; set; }

    protected async Task Sign_In(string username, string password)
    {
        string res = "";
        //
        //username = "zare_f"; password = "123";
        if (username != null && password != null)
        {
            username = username.ToLower();
            if (username == "zonobi" || username == " ghorbani09" || username == "zare_f" || username=="azeinali")
            {
                var getData = await Http.PostAsJsonAsync<string>("api/Login/Login_Async/", username.ToLower());
                var data = await getData.Content.ReadAsStringAsync();
                res = JsonConvert.DeserializeObject<string>(data);


                if (username.ToLower() == res && password == "123")
                {
                    Temp.username = username.ToLower();
                    NavigationManager.NavigateTo($"/Index/{username}/");
                    //NavigationManager.NavigateTo($"/Index/{regn_code}/");
                }

                else
                    error = "نام کاربری یا کلمه عبور اشتباه است";
            }
            else
                    error = "نام کاربری یا کلمه عبور اشتباه است";
        }
            else
                error = "نام کاربری یا کلمه عبور را وارد کنید";

    }
}