@page "/"
@inject NavigationManager NavManager
@layout _LoginLayout

<div class="login-container">
    <section class="login" id="login">
        <header>
            <h2>اپلیکیشن مدیران</h2>
            <h4>شرکت توزیع برق شیراز</h4>
        </header>
        <div>
            <input @bind="username" type="text" class="login-input" placeholder="نام کاربری" />
            <input @bind="password" type="password" class="login-input" placeholder="کلمه عبور" />
            <label class="text-danger">@error</label>
            <div class="submit-container">
                <button type="submit" class="btn btn-block btn-primary" @onclick="()=>Sign_In(username,password)">ورود</button>
            </div>
        </div>
        <h6 class="text-center mt-3">شرکت فنی مهندسی عصراندیشه</h6>
    </section>

</div>


@code {
    private string username { get; set; }
    private string password { get; set; }
    [Parameter]
    public string regn_code { get; set; }
    public string error { get; set; }
    protected void Sign_In(string username, string password)
    {
        username = "zonobi"; password = "123";

        if (username.ToLower() == "modir" && password == "123")
        {
            NavManager.NavigateTo("/Index");
        }
        else if (username.ToLower() == "zonobi" && password == "123")
        {
            regn_code = "001";
            NavManager.NavigateTo($"/Index/{regn_code}/");
        }
        else
            error = "نام کاربری یا کلمه عبور اشتباه است";
    }
}